.cart{
    border: 1px solid aliceblue;
    background-color: aliceblue;
    border:none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:20px;
    height:250px;
    padding:10px;
}
.cart h3{
    color:black;
}