.product{
    border:1px solid red;
    border:none;
    border-radius: 10px;
    background-color: aliceblue;
    margin:20px;
    padding:20px;
    /* height:100px; */
    display:flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product .img{
   /* float:left; */
   width: 50%;
}
.product .product_right{
    /* float:right; */
    width:50%;
}